@font-face {
  font-family: "Itim";
  src: url("Itim-Regular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Itim", sans-serif;
}

.navbar {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  background-blend-mode: darken;
  background-size: cover;
  color: black;
  padding: 10px 20px;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li:last-child {
  margin-right: 0;
}

.nav-list li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.nav-list li a:hover {
  color: white;
}

body {
  background: green;
}

.logintext ul {
  list-style-type: none;
}

.Loginbox {
  padding-inline: auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.logintext li {
  text-align: center;
  padding: 0px;
}

.logintext h1 {
  font-size: 24px;
  color: #333;
}

.witch {
  float: right;
}

.logintext h3 {
  font-size: 18px;
  color: #666;
  margin-top: 10px;
}

.Loginbox .input-box {
  position: relative;
  padding: 10px;
  width: 500px;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 18px;
  padding: 10px 15px 10px 20px;
  margin: 35px;
}

.input-box input::placeholder {
  color: #737373;
}

.input-box i {
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(180%);
  font-size: 20px;
}

.forgot {
  display: flex;
  padding: 20px 15px 10px 220px;
  font-size: 18px;
  margin-bottom: -50px;
  color: #737373;
}

.forgot a {
  color: #737373;
  font-size: 18px;
}

.forgot a:hover {
  color: white;
  font-size: 18px;
}

.registerpage {
  display: flex;
  padding: 10px 15px 10px 200px;
  color: #737373;
}

.registerpage a {
  color: #737373;
}

.registerpage a:hover {
  color: white;
}
